body {
    margin: 0;  
    font-family: 'Montserrat', sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 10px 40px;
    background-color: #4A4947;
    color: white;
}

.header-pages ul {
    display: flex;
    list-style-type: none;
    gap: 20px;
    padding: 0;
    margin: 0;
}

.user-profile img {
    width: 50px;
    border: 2px solid black;
    border-radius: 50%;
}

.header-pages a {
    text-decoration: none;
    color: white;
}


